
// set up a simple neutral simulation
initialize()
{

// record trees
 initializeTreeSeq();

// set the overall mutation rate (overlay with msprime after)
 initializeMutationRate(0);

// m1 mutation type: neutral
 initializeMutationType("m1", 0.5, "f", 0.0);

// g1 genomic element type: uses m1 for all mutations
 initializeGenomicElementType("g1", m1, 1.0);

// uniform chromosome of length 100 kb
 initializeGenomicElement(g1, 0, 99999);

// uniform recombination along the chromosome
 initializeRecombinationRate(1e-7);
}

// create a population of individuals
1 {sim.addSubpop("p1", 1e4);}

// run to some generation 
100 {
  sim.simulationFinished();
  sim.treeSeqOutput("./neutral_WF_trees.trees"); //save the tree sequence
  }

